<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form action='/edit/<%=animal._id%>' method="post">
            <p>Name:</p><input type="text" class="form-control" name="name" value="<%= animal.name %>">
            <% if(messages.name) { %>
                <p style="color:red"><%= messages.name %></p>
           <% } %>
            <p>Animal:</p><input type="text" class="form-control" name="animal" value="<%= animal.animal%>">
            <% if(messages.animal) { %>
                <p style="color:red"><%= messages.animal %></p>
           <% } %>
            <br>
            <button type="submit">Edit</button>
        </form>
        <a href="/">Home</a>
    </div>
</body>
</html>